{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<h1>All Posts...</h1>
    {% if user.is_authenticated %}
	howdy {{ user.username }}!
	{% else %}
	hey there partner!
	{% endif %}

<div>
		{% if posts%}
		<ul>
			{% for post in posts %}
				<li>
					<!-- The following line is changed to add an HTML hyperlink -->
                    <a href="{% url 'rango:show_post' post.id %}">

						{{ post.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no posts present.</strong>
		{% endif %}
</div>

{% endblock %}
